<%= form_with(model: editora, local: true) do |form| %>
  <% if editora.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(editora.errors.count, "error") %> prohibited this editora from being saved:</h2>

      <ul>
      <% editora.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :editora_nome %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :editora_email %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, id: :editora_telefone %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :editora_website %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
