<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @editora.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @editora.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @editora.telefone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @editora.website %>
</p>

<%= link_to 'Edit', edit_editora_path(@editora) %> |
<%= link_to 'Back', editoras_path %>
