<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @livro.titulo %>
</p>

<p>
  <strong>Ano publicacao:</strong>
  <%= @livro.ano_publicacao %>
</p>

<p>
  <strong>Edicao:</strong>
  <%= @livro.edicao %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @livro.genero %>
</p>

<p>
  <strong>Editora:</strong>
  <%= @livro.editoras_id %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @livro.autores_id %>
</p>

<%= link_to 'Edit', edit_livro_path(@livro) %> |
<%= link_to 'Back', livros_path %>
